/* Projects / Portfolio
--------------------------------*/

.project-item h3 {
  grid-column: 1 / -1;
}

.project-description p:first-of-type {
  margin-top: 0;
}

.project-item {
  h3 {
    grid-column: 1 / -1;
  }
  h3 + a img {
    max-width: 350px;
    max-height: 274px;
  }
  h3 + a {
    display: block;
  }
}

footer {
  a {
    gap: 0.5rem;
  }
}

/* Responsive
------------------------------------*/

@media screen and (min-width: 760px) {
  header,
  footer {
    text-align: center;
    ul {
      display: flex;
      justify-content: center;
      padding: 0;
      gap: 1rem;
    }
  }
  p {
    text-align: left;
  }
  .job-item,
  .project-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: flex-start;
    gap: 1.5rem;
  }
  footer .content-wrap {
    align-items: center;
  }
}

@media screen and (max-width: 759px) {
  h1 {
    font-size: 3.2rem;
  }
  .content-wrap {
    padding: 1.2rem 0;
  }
  footer {
    a {
      padding: 0.2rem;
    }
    ul {
      margin-left: 0;
    }
  }
  .project-item {
    display: grid;
    gap: 0.5rem;

    h3 + a img {
      width: 100%;
      height: 100%;
    }
  }
  h3 + a img {
    max-width: 350px;
    max-height: 274px;
  }

  footer .content-wrap {
    align-items: flex-start;
  }
}
