body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: $color-primary-lightest;
  background: $color-primary url("../../public/images/about_bg.jpg") no-repeat
    center / cover fixed;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0;
}

a {
  color: $color-secondary;
  display: inline-block;
}

h3 a {
  text-decoration: none;
  color: $color-primary-lightest;
}

a:hover {
  text-decoration: none;
}

.job-item,
.project-item {
  border-bottom: 1px dashed #889096;
  padding-bottom: 1rem;
}

.project-item h3 + a {
  box-shadow: 0 2px 8px 1px rgb(104 112 118 / 0.07),
    0 1px 1px -1px rgb(104 112 118 / 0.04);
  line-height: 0;
  max-width: 358px;
  max-height: 282px;
}

span a {
  width: 100% !important;
}
