body {
  margin: 0;
  padding: 0;
  background: url("../../public/images/about_bg.webp") no-repeat center / cover
    fixed;
}

// Fix for language dropdown menu items
span a {
  display: inline-block;
  width: 100% !important;
}

footer svg,
main svg {
  width: 1rem;
  height: 1rem;
}

footer a {
  align-items: center !important;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0;
}

.job-item,
.project-item {
  border-bottom: 1px dashed $color-neutral;
  padding: 1rem 0;
}

.project-item ul,
.languages ul {
  list-style: disc !important;
}

.job-item a {
  font-size: 1.5rem;
}

// Link that wraps for the project image
.project-item h3 + a {
  box-shadow: 0 2px 8px 1px rgb(104 112 118 / 0.07),
    0 1px 1px -1px rgb(104 112 118 / 0.04);
  line-height: 0;
  max-width: 358px;
  max-height: 282px;
}

.job-summary a {
  padding: 1rem;
}
