html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: url("../../public/images/about_bg.webp") no-repeat center / cover fixed;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

header .content-wrap {
  padding-top: 0;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

main svg {
  width: 1rem;
  height: 1rem;
}

p > a {
  margin: 0 0.2rem;
}

// Fix for language dropdown menu items
span a {
  display: inline-block;
  width: 100% !important;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content-wrap {
  max-width: 50rem;
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0;
}

.job-item,
.project-item {
  border-bottom: 1px dashed $color-neutral;
  padding: 1rem 0;
}

.project-item ul,
.languages ul {
  list-style: disc !important;
}

.project-item p:first-child {
  margin-bottom: 1rem;
}

.job-item a {
  font-size: 1.5rem;
}

.job-summary a {
  padding: 1rem;
}

footer {
  .content-wrap {
    display: flex;
    flex-direction: column;
  }
  p {
    width: 100%;
    text-align: center;
  }
}
