.container {
  padding-top: 0;
  h1,
  h2 {
    text-align: center;
  }
  p {
    white-space: pre-wrap;
  }
}

@media screen and (max-width: 465px) {
  .container {
    h1,
    h2 {
      text-align: left;
    }
  }
}
